.footer {
  padding: 20px;
  color: $white;
  background-color: $Black;
  &__logo {
    display: flex;
    justify-content: space-between;
    & img {
      width: 100px;
      padding: 5px;
    }
    &--reseau i:hover{
        cursor: pointer;
        padding-bottom: 4px;
        border-bottom: 1px solid $white;
      }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    &--ul {
      display: flex;
      padding-left: 0px;
      & li {
        position: relative;
        margin: 0 5px;
        &::before {
          content: "";
          width: 0%;
          height: 2px;
          background-color: $white;
          position: absolute;
          bottom: -7px;
          left: 25%;
          // transition: width 0.3s;
        }
        &:hover::before {
          cursor: pointer;
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .footer{
    &__list ul{
      flex-direction: column;

    }
  }
  
}