.footer {
  padding: 20px;
  color: $white;
  background-color: $Black;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: space-between;
    &--img {
      grid-column: 1/2;
      grid-row: 1;

      width: 100px;
      padding: 5px;
    }
    &--reseau{
      grid-column: 2/3;
      grid-row: 1;
      justify-self: end;
      & i:hover{
        cursor: pointer;
        padding-bottom: 4px;
        border-bottom: 1px solid $white;
      }
      }
  }
  &__list {
    grid-column: 1/2;
    grid-row: 2;
    &--ul {
      display: flex;
      padding-left: 0px;
      & li {
        position: relative;
        margin: 0 5px;
        &::before {
          content: "";
          width: 0%;
          height: 2px;
          background-color: $white;
          position: absolute;
          bottom: -7px;
          left: 25%;
          // transition: width 0.3s;
        }
        &:hover::before {
          cursor: pointer;
          width: 50%;
        }
      }
    }
  }
  &__copyright{
    grid-column: 2/3;
    grid-row: 2;
    justify-self: end;
  }
}

@media screen and (max-width: 680px) {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__list ul{
      flex-direction: column;
      align-items: center;
    }
  }
}