.beforeMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  &__button{
    height: 30px;
    padding:0 30px;
    border: 2px solid $Black;
    background-color: $white;

    &:hover{
      cursor: pointer;
      background-color: $Black;
      color: $white;
      transition: ease-in-out .3s ;
    }
  }
}
.main__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &--li{
    position: relative;
    padding: 10px;
    transition: .3s ease;
    &:hover{
      cursor: pointer;
      opacity: 0.4;
      & p{
        opacity: 1;
        color: $Black;
      }
    }
  }
  &--text{
    position: absolute;
    bottom: -10px;
    left: 45px;
    font-size: 38px;
    color: $white;
    transition: ease .3s;
    text-transform: uppercase;
    // &:hover{
    //   color: $Black;
    // }
  }
}

@media (max-width: 680px) {
  .main__list{
    padding: 0;
    & li img{
      max-width: 100%;
    }
  }

  // En developpement
  .beforeMain__button{
    position: absolute;
    top: calc(380% + 2em);
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 2em;
  }
}