.section {

  margin: 50px 50px 100px 50px;
  position: relative;
  &__left {
    object-fit: cover;
    align-self: flex-start;
  }
  &__right {
    padding: 50px;
    position: absolute;
    bottom: -5%;
    right: -10%;
    width: 40%; /* Définissez la largeur de débordement à 80% */
    height: 30%;
    background-color: $white;
    &--title {
      font-size: 28px;
      color: $Black;
    }
    &--text {
      color: $DarkGray;
    }
  }
}

// @media (min-width: 768px) {
//   .section__left--img[srcset*="./images/mobile/image-curiosity.jpg"]{
//     display: none;
//   }

// }
// @media (max-width: 769px) {
//   .section__left--img[srcset*="./images/desktop/image-interactive.jpg"]{
//     display: none;
//   }

// }
